<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/425408ad90.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./public/css/style">
    <title>Layout</title>
</head>

<body>
    <header>
        <nav id="navBar">
            <a href="shaithea_alam.ejs">Home</a>
            <a href="paintings.ejs">Paintings</a>
            <a href="resume.ejs">Resume</a>
        </nav>
    </header>

    <%- body%>

    <footer>
        <section class="links" class="socials">
            <a href="www.linkedin.com/in/shaithea" class="fa-brands fa-linkedin"></a>
            <a href="https://github.com/shaithea05" class="fa-brands fa-github"></a>
            <a href="https://www.instagram.com/shaithea.a/?hl=en" class="fa-brands fa-instagram"></a>
        </section>

        <p>&copy 2023 Shaithea A. Alam. Cambridge, MA. All Rights Reserved.</p>
        <p>Shaithea&trade & &copy 2024 Brandeis Univeristy</p>
    </footer>

</body>

</html>