<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings!</title>
</head>
<body>
    <h2>Avocado</h2>
    <img id="avocadoPainting" src="/images/avocadoPainting.jpg" alt="Picture of Shaithea's Painting of an open avocado" title="Shaithea's Avocado Painting">
    
    <h2>Impressionism Mountain</h2>
    <img id="impressionisMountain" src="/images/mountain.jpg" alt="Picture of Shaithea's Painting of an mountain in impressionism" title="Shaithea's Impressionism Mountain Painting">
</body>
</html>