<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/style.css" rel="stylesheet"/>
    <title>Resume</title>
</head>

<body>
    <nav id="navBar">
        <a href=”#”>Home</a>           
        <a href=”resume.html”>Resume</a>
    </nav>

    <img id="resume" src="/public/images/resume.jpg" alt="Picture of Shaithea's Resume" title="Shaithea's Resume">
</body>

</html>