<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- above allows the viewport to change as you change the size of the window  -->
   
    <link href="/public/css/style.css" rel="stylesheet"/>
    <title>Meet Me!</title>
</head>
<body>
    <!-- nav bar -->
    <header class="heading">
        <h1 id="myHeader">Meet Me!<br> Shaithea A. Alam</h1>
        <img id="me" src="/public/images/IMG_8674.jpg">
    </header>
           
    <div class="containers">
        <div class="col">
            <section id="firstCol">
                <article class="mainSection">
                    <h2 class="description" id="descriptionTitle">About Me</h2>
                    <p class="description" id="descriptionText">Hi! I am a senior studying computer science and business at Brandeis University.
                        I like going out to Boston to try new foods with my friends and I also enjoy spending time with my family!
                    </p>
                </article>
            </section>
        </div>
            
        <div class="col">
            <section id="secondCol">
                <aside class="mainSection">
                    <h2>Classes I Am Taking This Semester:</h2>
                    <ul>
                    <li>Computer Science:
                        <ul>
                        <li>Web Application Development</li>
                        </ul>
                    </li>
                    <li>Business:
                        <ul>
                            <li>Business Communication</li>
                            <li>Human Psychology and Financial Decision Making</li>
                            <li>Entrepreneurship and Innovation</li>
                        </ul>
                    </li>
                    </ul>
                </aside>
            </section>
        </div>

        <div class="col">
            <section id="thirdCol">
                <aside class="mainSection">
                    <h2>Rock, Paper, Scissors!</h2>
                        <table class="table">
                        <tr>
                                <th> </th>
                                <th>Rock</th>
                                <th>Paper</th>
                                <th>Scissors</th>
                            </tr>
                            <tr>
                                <th>Rock</th>
                                <td>Tie</td>
                                <td>Paper beats Rock</td>
                                <td>Rock beats Scissors</td>
                            </tr>
                            <tr>
                                <th>Paper</th>
                                <td>Paper beats Rock</td>
                                <td>Tie</td>
                                <td>Scissors beat Paper</td>
                            </tr>
                            <tr>
                                <th>Scissors</th>
                                <td>Rock beats Scissors</td>
                                <td>Scissors beat Paper</td>
                                <td>Tie</td>
                            </tr>
                        </table>
                </aside>
            </section>
        </div>
    </div>
    
</body>

</html>