/* 
COLORS:
Columbia Blue: #CEE5F2
Columbia Blue (powder): #ACCBE1
Air Superiority Blue: #7C98B3
Payne's Gray: #637081
Payne's Gray (bluer): #536B78
*/

/* coloring the body of the page */
body {
    background-color: #CEE5F2;
}

#title {
    background-color: #536B78;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #7C98B3; /* Dark background color */
    font-size: 1.5rem;
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

.navbar h1 {
    float: left;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
}

/* colors the titles */
h2 {
    background-color: #ACCBE1;
    color: #536B78;
    padding-left: 1rem;
}

p {
    padding-left: 1rem;
}

/* Ensure proper sizing */
* {
    box-sizing: border-box;
}
  
/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #ACCBE1; /* Grey background color */
    padding: 20px; /* Some padding */
}
  
/* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}

#me {
    max-width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

/* Styling Resume */
#resume {
    max-width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

/* Styling avocadoPainting */
#avocadoPainting {
    max-width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

/* Styling impressionisMountain */
#impressionisMountain {
    max-width: 70%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 2rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    padding-left: 1rem;
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #637081;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}

/* Styling the footer */
.footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Centers text*/
    background: #7C98B3; /* Dark background color */
}

.links {
    font-size: 2rem;
    float: right;
    text-decoration: none;
    padding: 1.5rem;
}

.links a:visited{
    color: white;
    text-decoration: none;
}

.links a:hover {
    background-color: #ddd; /* Grey background color */
    color: #536B78; /* Black text color */
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
}
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}